
// fonts
$paragraph-text:18px;
$inside-text:16px;
$base-h-one:40px;
$base-h-two:32px;
$base-offer:30px;
$base-a:15px;
$base-site-head:30px;
$base-h-four-head:18px;
$base-boxx:10px;
$base-widthbutton:122px;

// colors
$whitetwo:#fff;
$white:#ffffff;
$black:#000000;
$orange:rgb(221,189,5);
$cadetblue:rgb(20,125,151);




//////////SMALL DEVICES/////////////

//fonts
$small-h-one:28px;
$small-paragraph:10px;
$small-a:9px;
$small-htwo:13px;
$small-hthree:15px;
$small-hfour:13px;
$small-p:15px;


//////////LARGE-TABLETS DEVICES/////////////

$large-h-one:45px;
$large-paragraph:15px;
$large-a:14px;
$large-h-two:27px;
$large-h-three:16px;
$large-h-four:16px;
$large-p:30px;